/* sheetreset */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}
.container{
    width: 80%;
    margin: auto;
}
.montserrat{
    font-family: "montserrat"
}
.green-color{
    color: #96BB7C;
}
.gray-color{
    color: #737373;
}
/**header-section*/
header{
    position: sticky;
    top: 0px;
    background-color: #FAFAFA;
}
header > div{
    display: flex;
    column-gap: 60px;
    padding: 10px 0px;
}
nav{
    width: 100%;
}
#logo a{
    font-size: 24px;
    color: #252B42;
}
#link a{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
}
#login{
    color: #96BB7C;
}
nav button{
    background-color: #96BB7C;
    padding: 15px 25px;
    border-radius: 5px;
}
button a{
    color: #fafafa;
}
nav ul:nth-child(2){
    margin-left: auto;
    column-gap: 50px;
}   
/* hero-section*/
#hero-section-wraper{
    position: relative;
    height: 100vh;
    z-index: -1;
}
.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.text1{
    position: relative;
    font-size: 16px;
    color: #96BB7C;
    top: -40px;
}
.text2{
    position: relative;
    color: #252B42;
    font-size: 54px;
}
.text3{
    position: relative;
    font-size: 20px;
}
.btn1{
    position: relative;
    top: 18px;
    color: #FFFFFF;
    font-size: 14px;
    background-color:#96BB7C;
    padding: 15px 40px;
    border-radius: 5px;
}
.btn2{
    position: relative;
    top: 18px;
    background-color: #FFFFFF;
    left: 5px;
    font-size: 14px;
    padding: 15px 40px;
    color: #96BB7C;
    border-radius: 5px;
}
/* bg-background */
.image-box{
    position: relative;
    left: 98px;
    background-color: #FFF2F3;
    width:500px ;
    height: 626.4px;
    border-radius: 50px;
    top: 2px;
    z-index: -1;
}
.img1{
    width: 630px;
    position: absolute;
    left: -22%;
    top: 1%;
}
.img2{
    width: 675px;
    height: 444px;
    position: absolute;
    left: -41%;
    top: 23.84%;
    z-index: -1;
}
.img3{
    width: 624px;
    position: absolute;
    left: -21%;
    top: 16%;
    z-index: -1;
}
.img4{
    width: 52px;
    position: absolute;
    left: -9%;
    top: 27%;
}
/* cards */
#card-section{
    position: sticky;
    bottom: -10%;
}
.cards{
    width: 345px;
    height: 296px;  
    position: relative;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
}
.icon-box{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E74040;
    border-radius: 50px;
}
h2{
    font-size: 24px;
}
.divider{
    width: 50px;
    height: 3px;
    background-color: #E74040;
}
/* count-section */
#count-section{
   padding: 160px 100px;
   column-gap: 50px;
}
.count-text1{
    font-size: 40px;
    text-align: center;
}
.count-text{
    font-size: 16px;
}
/* clint-section-text*/
#clint-section{
    background-color: #FFFFFF;
    height: 743px;
    padding: 160px 0px;
}
.clint-text{
    display: grid;
    gap: 35px 30px;
    position: relative;
    top: -430px;
}
#divider{
    width: 94px;
    height: 7px;
    background-color: #E74040;
}
.clint-text1{
    width: 350px;
    font-size: 30px;
}
.clint-text2{
    width: 350px;
    font-size: 16px;
}
.clint-text3{
    display: flex;
    width: 350px;
    font-size: 14px;
    font-weight: 700;

}
/* clint-section-pics */
.clint-pic-BOX{
    padding: 80px 0px;
}
.img-5{
    width: 337px; 
    position: relative;
    display: flex;
    top: -80px;
    right: 80px;
}
.circle{
    background-color: #FFF2F3;
    display: flex;
    position: relative;
    top: -550px;
    left: 170px;
    width: 53px;
    height: 53px;
    border-radius: 21px;
}
.Rectangle{
    background-color: #FEF3D9;
    display: flex;
    position: relative;
    top: -230px;
    left: 45px;
    width: 58px;
    height: 34px;
    border-radius: 11px;
    z-index: 1;
}
.img-6{
    width: 280px;
    height: 340px;
    display: flex;
    position: relative;
    top: -460px;
    left: -30px;
    border-radius: 11px;
    z-index: 1;
}
.img-7{
    width: 158px;
    display: flex;
    position: relative;
    top: -780px;
    left: 190px;
    z-index: 1;
}
.img-8{
    width: 362px;
    display: flex;
    position: relative;
    top: -650px;
    left: -20px;
    z-index: 1;
}
/* teacher-section */
#teacher-section-text{
    background-color: #FFF2F3;
    height: 1156px;
}
.teacher-text{
    position: relative;
    padding-top: 160px;
    padding-bottom: 80px;
    width: 350px;
    display:grid;
    gap: 20px 10px;
}
.teacher-text1{
    width: 114px;
    font-size: 14px;
}
.teacher-text2{
    width: 419px;
    font-size: 40px;
}
.teacher-text3{
    width: 469px;
    font-size: 14px;
}
/* teacher-section-product-card */
.teacher-text{
    width: 100%;
}
.teacher-cards{
    width: 330px;
    height: 550px;
    background-color: #FFFFFF;
}
.product-pic1{
    width: 330px;
    height: 252px;
}
.tag-sale-box{
    width: 56px;
    height: 24px;
    background-color: #E74040;
    border-radius: 3px;
    position: relative;
    top: -239px;
    left: 13px;
}
.tag-sale{
    color: white;
    padding: 20px 10px;
    font-size: 18px;
    border-radius: 4px;
    z-index: 1;
} 
.font-logo{
    width: 20px;
    height: 20px;
    background-color: white;
    font-size: 20px;
    position: relative;
    top: -90px;
    left: 110px;
    padding: 10px 10px;
    border-radius: 44px;
}
.star{
    background-color: #2D4059;
    color: gold;
    width: 58px;
    height: 26px;
    border-radius: 20px;
    position: relative;
    top: -40px;
    left: 250px;
}
.box{
    justify-content: space-between;
    position: relative;
    top:0px;
    left: 4px;
    font-size: 18px;
}
.star h6{
    font-size: 16px;
    color: white;
    position: relative;
    top: -20px;
    left: 30px;
}
.card-text-box{
    width: 348px;  
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.product-text1{
    font-size: 14px;
    position: relative;
    top: -80px;
    z-index: 1;
}
.card-text-box h5{
    font-size: 16px;
    position: relative;
    top: -60px;
}
.card-text-box p{
    position: relative;
    top: -45px;
    font-size: 14px;
    color:rgb(143, 145, 151);
}
.card-text-box span{
    position: relative;
    top: -35px;
    left: 26px;
}
.price{
    color: #FFAB71;
    position: relative;
    top: -25px;
    font-size: 16px;
}   
.price1{
    color: #BDBDBD;
}
.teacher-btn{
    background-color: white;
    width: 141px;
    height: 44px;
    padding: 10px 20px;
    border-radius: 37px;
}
.teacher-btn a{
    color:#96BB7C;
    
}
/* clin-section-box */
#layout-section-box{
    height: 850px;   
    padding: 160px 0px; 
}
.layout-title{
    width: 419px;
    display: grid;
    row-gap: 10px;
}
.layout-title h6{
    font-size: 14px;
}
.layout-title h2{
    font-size: 40px;
}
.layout-title p{
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 400px;
}
.rating{
    font-size:30px;
    color: gold;
}
.profile-cards{
    width: 1045px;
    height: 317px;
    padding: 80px;
}
.profile-text{
    width: 159px;
    height: 120px;
    display: grid;
    row-gap: 20px;
}
.profile-text p{
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
}
.profile{
    display: flex;
    column-gap: 13px;
    row-gap: 10px;
    
}
.profile-info{
    text-align: left;
    align-items: center;
    justify-content: center;
}
.profile-info h4{
    width: 93px;
    font-size: 14px;
}
.profile-info span{
    font-size: 12px;
}
/* course-section */
#course-section{
    height: 827px;
    padding: 112px 0px;
}
.course-title{
    display: grid;
    row-gap: 10px;
    width: 469px;
}
.course-title h6{
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 700;
}
.course-title h3{
    font-size: 26px;
    letter-spacing: 0.1px;
    line-height: 32px;
    font-weight: 700px;
}
.course-title p{
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 20px;
    font-weight: 400px;
}
.course-cards{
    padding: 130px 0px;

}
.course-card{
    width: 238px;
    height: 350px;
    display: grid;
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightblue;

}
.cover-pic1{
    width: 238px;
    height: 200px;
    border-radius: 20px;
}
.course-card h6{
    font-size: 16px;
    letter-spacing: 0.1px;
    text-align: center;
    font-weight: 700;
}
.course-card span{
     font-size: 12px;
     letter-spacing: 0.1px;
     text-align: center;   
     font-weight: 400px;
}
.social-link{
    text-align: center;
}
.fb{
    width: 23px;
    height: 23px;
    text-align: center;   
}
/* subscriber-section */
#subscriber-section{
    height: 574px;  
    text-align: center;
    padding: 160px;
}
.subscrib-text{
    width: 691px;
    display: grid;
    row-gap: 16px;
}
.subscrib-text h6{
    font-size: 20px;
    font-weight: 700px;
    line-height: 24px;
}
.subscrib-text h3{
    font-size: 30px;
    font-weight: 700;
} 
.subscrib-text p{
    font-size: 16px;
    letter-spacing: 0.4px;
}
.dis-1{
    display: grid;
    row-gap: 15px;
}
.subs-box{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    outline: none;
}
.btn-1{
    width: 9vw;
    height: 4vw;
    border-radius: 4px;
    background-color: #96BB7C;
    color: white;
    cursor: pointer;
}
.subs-email{
    width: 35vw;
    height: 4vw;
    border-radius: 4px;
    border-style: solid;
    background-color: #F9F9F9;
}
/* footer-section */
#footer-section {
    padding: 25px 0px;
}
.contact-info{
    display: grid;
    row-gap: 20px;
}
.contact-info h5 {
    display: grid;
    font-size: 16px;
}
.contact-info ul{
    display: grid;
    row-gap: 12px;
}
.contact-info ul a{
    color:#737373;
}
/* copyright-box */
#copyright-section{
    background-color: #FAFAFA;
    width: 100%;
    height: 74px;
    padding: 25px 0px;  
}
.copyright-box h6{
    font-size: 14px;
}
.social-links{ 
    justify-content: space-between;
    padding-right: 20px;
}